- 
	const aNav = [{
		name: 'Phasellus', 
		sub: [
			'Phasellus first', 
			'Phasellus second', 
			'Phasellus third'
		]
	}, {
		name: 'Nullam', 
		sub: [
			'Nullam first', 
			'Nullam second', 
			'Nullam third'
		]
	}, {
		name: 'Maecenas'
	}]

header(class='header header-'+ page)
	nav.navbar.navbar-expand-xl
		.container-fluid
			a.navbar-brand(href='/')
				+i-svg('logo')

			.d-flex.order-xl-3
				form.header-search
					.header-search-field#searchNav
						input.form-control(type='text' placeholder='Найти')
					button.btn.btn-link#btnTglSearchNav(type='submit')
						+i-svg('search')
				//- 
					button.navbar-toggler(
						type='button' 
						data-toggle='collapse' 
						data-target='#headerNavExtra' 
						aria-controls='headerNavExtra' 
						aria-expanded='false' 
						aria-label='Toggle navigation'
					)
						+i-svg('menu')
				button.navbar-toggler#btnShowExtraNav
					+i-svg('menu')

			.collapse.navbar-collapse#headerNavbar
				ul.navbar-nav.ml-auto

					each item, ind in aNav 
						li(class=(ind === 0 ? 'nav-item active' : 'nav-item'))
							a.nav-link(href='javascript:void(0)')
								span
									|!{item.name}

			.header-extra-nav#headerExtraNav
				button.btn.btn-link.btn-close#btnHideExtraNav
					+i-svg('to-right')

				ul.collapse-nav
					each item in aNav 
						li
							a(href='javascript:void(0)')
								|!{item.name}

							if (item.sub)
								ul
									each sub in item.sub
										li
											a(href='javascript:void(0)')
												|!{sub}
				
				.row
					.col-sm-6
						address.inbar-address
							a(href='tel:+7(499)3800791') +7 (999) 000-00-00
							br
							a(href='mailto:in@iqdtech.ru') lindep@digitfire.com

					.col-sm-6
						.lng-swith
							.row-icon
								+i-svg('world')
								select
									option Русский
									option English

				p.soc-title Мы в социальных сетях:
				+soc-list()
	
	block banner
